body {
    text-align: center;
    background-image: linear-gradient(to bottom, orange, red);
    background-repeat:no-repeat;
    background-size: 100%;
    min-height: 1050px;
    overflow-y: hidden;
}
